/.vs/**
/.vs/**
/Debug/**
.vs/**
Debug/**
x64/**
/x64/**
/x64
/PA1_Practice/Debug/**
/PA1_Practice/Debug
/PA1_Practice/x64/**
/PA1_Practice/x64
PA1_Practice/Debug/**
PA1_Practice/Debug
PA1_Practice/x64/**
PA1_Practice/x64